.forgotPasswordTitle {
  position: relative;
  transform: translateX(75%);
}

.openDialogButton{
  background: none!important;
  border: none;
  padding: 0!important; 
  cursor: pointer;
  color: #007bff;

  &:active{
    color: #007bff
  }

  &:hover{
    color: #007bff
  }
}