<button type="button" class="btn btn-outline-primary openDialogButton" (click)="open(content)">Forgot Password</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title forgotPasswordTitle" id="modal-basic-title" class="tw-text-2xl tw-text-black tw-text-center">Forgot password</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-forgot-password></app-forgot-password>
  </div>
</ng-template>