@tailwind base;
@tailwind components;
@tailwind utilities;

// for Password input
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input.has-floating-label:focus ~ label,
input.has-floating-label:not(:placeholder-shown) ~ label,
textarea.has-floating-label:focus ~ label,
textarea.has-floating-label:not(:placeholder-shown) ~ label,
select.has-floating-label:focus ~ label,
select.has-floating-label:not([value=""]):valid ~ label {
  /* @apply transform; scale-75; -translate-y-6; */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.5rem;
}

input.has-floating-label:focus ~ label,
select.has-floating-label:focus ~ label {
  /* @apply text-black; left-0; */
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}

//For password tooltip
.info-button {
  // position: absolute;
  // // top: 15%;
  // right: 7%;
  // // z-index: 200;
  border: none;
  background: transparent;
  z-index: 300;
}