<button type="button" class="tw-border tw-px-3 tw-py-1 hover:tw-scale-110 tw-text-gray-50 tw-bg-black tw-rounded-lg" (click)="toggleChangePasswordForm()" cButton>Change password</button>
<c-modal
  id="liveChangePasswordForm"
  [visible]="visible"
  (visibleChange)="handleChangePasswordForm($event)"
>
  <c-modal-header class="tw-flex tw-justify-center">
    <h1 cModalTitle class="tw-text-center tw-text-2xl tw-font-bold">Change password</h1>
    <button (click)="toggleChangePasswordForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div [formGroup]="changePasswordForm">
      <table class="tw-w-full">
        <tbody>
          <tr class="tw-h-fit">
            <td>
              <div
                class="tw-relative tw-z-0 tw-w-full tw-mb-5 tw-ml-2 tw-mr-2 tw-pr-4" 
              >
                <input
                  type="password"
                  placeholder=" "
                  required
                  class="has-floating-label tw-pt-3 tw-pb-2 tw-pr-9 tw-block tw-w-full tw-px-0 tw-mt-0 tw-bg-transparent tw-border-0 tw-border-b-2 tw-appearance-none focus:tw-outline-none focus:tw-ring-0 focus:tw-border-black tw-border-gray-200"
                  #oldPasswordInputControl
                  formControlName="oldPassword"
                />
                <label
                  for="name"
                  class="tw-absolute tw-duration-300 tw-top-3 -tw-z-10 tw-origin-top-left tw-text-gray-500"
                  >Old password</label
                >
                <button (click)="onClickShowPassword(oldPasswordInputControl)">
                  <i
                    class="fa tw-absolute tw-bottom-7 tw-transform -tw-translate-y-1/2 tw-right-4"
                    [ngClass]="
                      oldPasswordInputControl.type === 'password'
                        ? 'fa-eye'
                        : 'fa-eye-slash'
                    "
                  ></i>
                </button>
                <p
                  *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required'] && changePasswordForm.get('oldPassword')?.touched"
                  class="tw-text-red-600 tw-absolute tw-bottom-0"
                >
                  Please type your old password
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div
                class="tw-relative tw-z-0 tw-w-full tw-mb-5 tw-ml-2 tw-mr-2 tw-pr-4"
              >
                <input
                  type="password"
                  placeholder=" "
                  required
                  class="has-floating-label tw-pt-3 tw-pb-2 tw-pr-12 tw-block tw-w-full tw-px-0 tw-mt-0 tw-bg-transparent tw-border-0 tw-border-b-2 tw-appearance-none focus:tw-outline-none focus:tw-ring-0 focus:tw-border-black tw-border-gray-200"
                  #newPasswordInputControl
                  formControlName="newPassword"
                />
                <label
                  for="name"
                  class="tw-absolute tw-duration-300 tw-top-3 -tw-z-10 tw-origin-top-left tw-text-gray-500"
                  >New password</label
                >
                <button
                    disabled
                    class="info-button tw-text-gray-500 tw-absolute tw-bottom-8 tw-right-10"
                    cButton
                    cTooltip="Password must have at least eight characters, at least one uppercase letter, one lowercase letter and one number"
                    cTooltipPlacement="top"
                  >
                    <i class="fas fa-info-circle"></i>
                  </button>
                <button (click)="onClickShowPassword(newPasswordInputControl)">
                  <i
                    class="fa tw-absolute tw-bottom-7 tw-transform -tw-translate-y-1/2 tw-right-4"
                    [ngClass]="
                      newPasswordInputControl.type === 'password'
                        ? 'fa-eye'
                        : 'fa-eye-slash'
                    "
                  ></i>
                </button>
                <p
                  *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
                  class="tw-text-red-600 tw-absolute tw-bottom-0"
                >
                  Invalid password
                </p>
                <p
                  *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors?.['required']"
                  class="tw-text-red-600 tw-absolute tw-bottom-0"
                >
                  Please type new password
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div
                class="tw-relative tw-z-0 tw-w-full tw-mb-5 tw-ml-2 tw-mr-2 tw-pr-4"
              >
                <input
                  id="rePassword"
                  type="password"
                  placeholder=" "
                  required
                  class="has-floating-label tw-pt-3 tw-pb-2 tw-pr-9 tw-block tw-w-full tw-px-0 tw-mt-0 tw-bg-transparent tw-border-0 tw-border-b-2 tw-appearance-none focus:tw-outline-none focus:tw-ring-0 focus:tw-border-black tw-border-gray-200"
                  #reNewPasswordInputControl
                  formControlName="retypeNewPassword"
                />
                <label
                  for="rePassword"
                  class="tw-absolute tw-duration-300 tw-top-3 -tw-z-10 tw-origin-top-left tw-text-gray-500"
                  >Confirm password</label
                >
                <button
                  (click)="onClickShowPassword(reNewPasswordInputControl)"
                >
                  <i
                    class="fa tw-absolute tw-bottom-7 tw-transform -tw-translate-y-1/2 tw-right-4"
                    [ngClass]="
                      reNewPasswordInputControl.type === 'password'
                        ? 'fa-eye'
                        : 'fa-eye-slash'
                    "
                  ></i>
                </button>
                <p
                  *ngIf="changePasswordForm.get('retypeNewPassword')?.errors?.['required'] && changePasswordForm.get('retypeNewPassword')?.touched"
                  class="tw-text-red-600 tw-absolute tw-bottom-0"
                >
                  Please type Confirm password
                </p>
                <p
                  *ngIf="changePasswordForm.get('retypeNewPassword')?.errors?.['passwordMismatch']"
                  class="tw-text-red-600 tw-absolute tw-bottom-0"
                >
                  Passwords do not match!
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <div class="tw-flex tw-justify-between tw-w-56 tw-pr-2">
      <button (click)="toggleChangePasswordForm()" cButton class="tw-text-black">
        Cancel
      </button>
      <button cButton color="primary" (click)="onSaveChange()" class="tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-border tw-border-blue-700 tw-rounded">
        Save changes
      </button>
    </div>
  </c-modal-footer>
</c-modal>
