@tailwind base;
@tailwind components;
@tailwind utilities;

.required-asterisk {
    color: red;
    width: 1px;
    margin-left: 3px;
}
.error-msg{
    color: red;
}

.label-input {
    color: black;
}
.opacity-0{
    opacity: 0;
}

.opacity-100{
    opacity: 100;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

#calendar{
    display: none;
}

.hover-calendar:hover #calendar{
    display: block;
}