<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="d-flex">
    <input
      type="email"
      class="form-control justify-content-center"
      placeholder="Type your email here"
      ngModel
      name="email"
      required
      email
      #emailControl="ngModel"
    />
  </div>
  <div *ngIf="emailControl.touched && !emailControl.valid">
    <p id="errorMessage" class="text-center">
      Please enter a valid email
    </p>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid">
      Send
    </button>
  </div>
</form>
