<link rel="stylesheet" href="../../../../assets/css/login/assets.css" />
<link rel="stylesheet" href="../../../../assets/css/login/typography.css" />
<link rel="stylesheet" href="../../../../assets/css/login/style.css" />
<link
  class="skin"
  rel="stylesheet"
  type="text/css"
  href="../../../../assets/css/color/color-1.css"
/>
<div class="page-wraper">
  <div id="loading-icon-bx"></div>
  <div class="account-form font-defalt">
    <div
      class="account-head"
      style="background-image: url(../../assets/images/email_send.jpg)"
    >
      <a href="/home" class="!tw-flex tw-justify-center"
        ><img width="200" src="../../assets/images/logo/logo3.png" alt=""
      /></a>
    </div>
    <div class="account-form-inner">
      <div class="account-container">
        <div class="heading-bx left">
          <h2 class="title-head font-defalt" style="border-left: 7px solid #007bff;">
            Reset your <span>Password</span>
          </h2>
        </div>
        <form
          class="contact-bx"
          name="resetPwdform"
          #f="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-lg-12">
              <div
                class="form-group"
                [ngClass]="
                  newPasswordHasFocus || newPassword.value != ''
                    ? 'focused'
                    : ''
                "
              >
                <div class="input-group" style="position: relative">
                  <label for="newPassword"
                    >New Password <span style="color: red">*</span></label
                  >
                  <!-- <br> -->
                  <input
                    (focus)="newPasswordHasFocus = true"
                    (blur)="newPasswordHasFocus = false"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                    name="newPassword"
                    id="newPassword"
                    [type]="isDisplayPassword ? 'text' : 'password'"
                    class="form-control"
                    required=""
                    ngModel
                    #newPassword="ngModel"
                    [style]="(newPassword.touched && newPassword.invalid)?'border-color: red':''"
                  />
                  <span
                    *ngIf="newPassword.touched && newPassword.value!=='' && newPassword.invalid"
                    class="error-msg"
                    style="color: red"
                    id="error-password"
                  >Invalid Password</span>
                  <span
                    *ngIf="newPassword.touched && newPassword.value==='' && newPassword.invalid"
                    class="error-msg"
                    style="color: red"
                    id="error-password"
                  >Please type new password</span>
                  <button
                    disabled
                    class="info-button"
                    ngbTooltip="Password must have at least eight characters, at least
                    one uppercase letter, one lowercase letter and one number"
                    placement="top"
                    triggers="hover"
                    [autoClose]="'inside'"
                  >
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <i
                    class="fas"
                    [ngClass]="isDisplayPassword ? 'fa-eye-slash' : 'fa-eye'"
                    style="
                      position: absolute;
                      top: 25%;
                      right: 0;
                      cursor: pointer;
                      z-index: 200;
                    "
                    (click)="togglePassword()"
                  ></i>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div
                class="form-group"
                [ngClass]="
                  rePasswordHasFocus || rePassword.value != '' ? 'focused' : ''
                "
              >
                <div class="input-group" style="position: relative">
                  <label for="cfpassword"
                    >Confirm Password <span style="color: red">*</span></label
                  >
                  <input
                    (focus)="rePasswordHasFocus = true"
                    (blur)="rePasswordHasFocus = false"
                    [style]="((rePassword.touched && rePassword.value!==newPassword.value) ||(rePassword.touched && rePassword.value==='') )?'border-color: red':''"
                    ngModel
                    #rePassword="ngModel"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                    name="ffPassword"
                    id="cfpassword"
                    [type]="isDisplayRepassword ? 'text' : 'password'"
                    class="form-control"
                    required=""
                  />
                  <span
                    *ngIf="rePassword.touched && rePassword.value!==newPassword.value && rePassword.value!==''"
                    class="error-msg"
                    style="color: red"
                    id="error-password"
                  >Re-password did not match</span>
                  <span
                    *ngIf="rePassword.touched && rePassword.value==='' && rePassword.invalid"
                    class="error-msg"
                    style="color: red"
                    id="error-password"
                  >Please type to confirm password</span>
                  <i
                    class="fas"
                    [ngClass]="isDisplayRepassword ? 'fa-eye-slash' : 'fa-eye'"
                    style="
                      position: absolute;
                      bottom: 40%;
                      right: 0;
                      cursor: pointer;
                      z-index: 200;
                    "
                    (click)="toggleRepassword()"
                  ></i>
                </div>
              </div>
            </div>
            <div class="col-lg-12 m-b30">
              <button
                [disabled]="
                  newPassword.value != rePassword.value ||
                  newPassword.value === '' ||
                  rePassword.value === '' ||
                  newPassword.invalid
                "
                name="submit"
                type="submit"
                value="Submit"
                class="btn btn-primary py-2 px-5"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
