/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

#topnav {
    position: fixed;
    inset-inline-start: 0px;
    inset-inline-end: 0px;
    top: 0;
    z-index: 999;
}

.dark [role=tab].active, .dark [role=tab].active:hover, [role=tab].active, [role=tab].active:hover {
    border-color: rgb(31 41 55);
    color: rgb(31 41 55);
}

button{
  border: 1px solid black;
  padding: 10px;
  /* border-radius: 0.25rem; */
  background-color: black;
  color: white;

}


.az-10{
  background-color: black;
  color: white !important;
  font-weight: bold;
}
