<app-header></app-header>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
<div class="tw-flex tw-justify-center tw-w-full tw-min-h-full tw-bg-neutral-200">
  <div class="tw-w-full tw-pl-10 tw-pr-10">
    <div class="tw-grid tw-grid-cols-12">
      <div class="tw-h-fit tw-relative tw-z-1 tw-m-4 tw-col-span-12 md:tw-col-span-5">
        <div class="tw-p-8 tw-bg-white tw-rounded-xl tw-flex tw-justify-center tw-items-center tw-mb-4">
            <booking-details-basic class="tw-w-full"></booking-details-basic>
        </div>
        <div class="tw-p-8 tw-bg-white tw-rounded-xl tw-flex tw-flex-col tw-justify-center tw-mb-4">
            <view-booking-details></view-booking-details>
        </div>
      </div>
      <div class="tw-mt-0 md:tw-mt-4 tw-m-4 tw-grid-cols-12 tw-col-span-12 md:tw-col-span-7">
        <booking-details-info-form></booking-details-info-form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>