/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

#topnav {
  position: fixed;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
  top: 0;
  z-index: 999;
}

body {
  overflow-x: hidden;
}

.dark [role=tab].active,
.dark [role=tab].active:hover,
[role=tab].active,
[role=tab].active:hover {
  border-color: rgb(31 41 55);
  color: rgb(31 41 55);
}

button {
  border: 1px solid black;
  padding: 10px;
  border-radius: 0.25rem;
  background-color: black;
  color: white;

}


.az-10 {
  background-color: black;
  color: white !important;
  font-weight: bold;
}

.image-avatar:hover:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: rgba(0, 0, 0, .5);
  background-image: url('https://www.mioto.vn/static/media/camera.0ef15ed5.svg');
  background-repeat: no-repeat;
  background-size: 36px 36px;
  background-position: 50%;
}

/* test css */

.menu-option a {
  width: fit-content;
}

.menu-option:hover a {
  width: 100%;
}

.menu-option li {
  width: fit-content;
}

.menu-option:hover li {
  width: 100%;
}

.menu-option .list {
  width: fit-content;
}

.menu-option:hover .list {
  width: 100%;
}

.menu-option svg {
  margin-right: 0;
}

.menu-option:hover svg {
  margin-right: 0.75rem;
}

.account-text {
  /* display: none; */
  display: none;
  /* Revert to using display: none; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

@media (max-width: 767px) {
  .account-text {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .menu-option svg {
    margin-right: 0.75rem;
  }

  .menu-option a {
    width: 100%;
  }

  .menu-option li {
    width: 100%;
  }
}


.menu-option:hover .account-text {
  /* display: block; */
  /* Use display: block; on hover */
  opacity: 1;
  visibility: visible;
  display: block;
}