<!--&lt;!&ndash; <div style="width: 840px; height: 424px; padding: 20px;">-->
<!--  <app-carousel [images]="images">-->
<!--  </app-carousel>-->
<!--</div>-->
<!--<div style="padding: 20px; height: 100px;">-->
<!--  <app-stmtp [steps]="['Booking Detail', 'Waiting Response', 'Complete']" [active]="2"></app-stmtp>-->
<!--</div> &ndash;&gt;-->
<!--<div style="padding: 20px; height: 300px;">-->
<!--  <app-date-range [start]="'22/03/2024'" [end]="'25/03/2024'" [selectedTimeStart]="'08:00'" [selectedTimeEnd]="'20:00'"></app-date-range>-->
<!--</div>-->
<!--&lt;!&ndash; <div style="padding: 20px; height: 300px;">-->
<!--  <app-date-picker [defaultDate]="'11/9/2002'" (result)="handleResult($event)" [title]="'Test field'"></app-date-picker>-->
<!--</div> &ndash;&gt;-->
