@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=2+3q1bJYw/Hyp+0cDYjm6enh4tLV00UvGdMMurWmMPNLdKJc+ozTH5gEY/W1oZZ8
@here:registry = "https://repo.platform.here.com/artifactory/api/npm/maps-api-for-javascript/"